.contactItem {
    display: flex;
    margin-block: 1rem;
    align-items: center;
    gap: .2rem;
}
.subtitle {
    font-size: 16px;
    font-weight: bold;
}
.buttonsContainer {
    display: flex;
    width: 100%;
}
.buttonIcon {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    width: 8rem;
    margin-block: 1rem;
    border: 2px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s, border-color 0.3s; 
}
.buttonIcon:hover,
.buttonIcon:focus {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); /* Ajusta la sombra para hover y focus */
}
.btnWrapper:hover {
    text-decoration: none !important;
}
.icon {
    width: 2rem;
}
