.modal-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Color oscuro de fondo */
}
.customModal {
    width: 40rem !important;
    height: fit-content !important;
    position: fixed;
    flex-direction: column;
    padding: 1rem;
    color: #333;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3); /* Sombra personalizada */
}
.customModal .modal-header,
.customModal .modal-body,
.customModal .modal-footer {
    border: none;
    padding: 1rem 0;
}
.modal-body {
    height: fit-content;
}
.modal-body p {
    padding: 0;
    margin: 0;
}
.modal-footer .modalBtn {
    width: 10rem;
    padding: .5rem;
    color: #005da6; 
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius: 0.5rem;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #005da6;
    transition: background-color 0.3s;
}
.modal-footer .modalBtn:hover {
    background-color: #005da6;
    color: #fff;
}
.customModal .divider {
    margin: 0;
}
.show {
    display: flex !important;
}
.hide {
    display: none ;
}