.infoItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 1px solid #8C8C8C33;
}
.imageWrapper {
    width: fit-content !important;
}
.img {
    width: auto;
    height: 10rem;
    object-fit: cover;
}
.titleWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contentWrapper {
    width: 100%;
}
.title {
    font-size: 1.25rem;
    font-weight: bold;
}
.subtitle {
    font-size: 1rem;
    font-weight: 500;
}
.trash:hover {
    background-color: #f44336;
}