.signup {
    width: 100%;
    height: 100vh;
}
.signup .background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(45deg, #f1d5d5, #f1dee6, #aac7cf, #e9e7c1); /* Gradiente con cuatro colores */
    background-size: 200% 200%; /* Tamaño del fondo */
    animation: gradientAnimation 100s infinite; /* 10s es la duración de la animación */
}

.form.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    background-size: 1400% 1400%;
    animation: gradient 14s ease infinite;
    padding: 4px;
    border-radius: 9px;
    animation: formAppear 1s ease-in-out;
}

.signup-form {
    width: 440px !important;
    padding: 1rem;
    max-width: 440px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f8f9;
    border-radius:  7px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.signup-form form {
    display: flex;
    flex-direction: column;
    width: 100% ;
    padding: 1rem;
    margin: 0 ;
}
.signup-form .form .buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.signup-form form .form-header h1  {
    font-size: 1.4rem;
    color: #747373;    
}
.signup-form form .form-header img {
    width: 3rem;
}  
.signup-form .form .form-section.links a {
    text-decoration: none;
    width: fit-content;
    margin: .3rem 0;
}
.signup-form form .form-item {
    width: 100%;
}
.signup-form form input {
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    padding: .3rem;
    margin: 5px 0;
    font-size: 16px;
    background-color: #f4f8f9;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.signup-form form input:focus {
    background-color: #fff; /* Cambiar el fondo al enfocar el campo */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); /* Cambiar la sombra al enfocar el campo */
}
.signup-form form .form-button {
    width: 10rem;
    padding: .5rem;
    color: #005da6; 
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius: 0.5rem;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #005da6;
    transition: background-color 0.3s; /* Efecto de transición de color */
  }
  
  .signup-form form .form-button:hover {
    background-color: #005da6;
    color: #fff;
  }
  
  /* Estilo de etiquetas y texto */
  .signup-form form label {
    font-size: 16px;
    font-weight: bold;
  }
  
  .signup-form form .error-message {
    color: #ff0000;
    font-size: 14px;
  }
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@keyframes formAppear {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }